.background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* z-index: -1; */
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
}
.topText {
    /* margin-bottom: 10px; */
    /* z-index: 1000; */
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    padding-top: 30px;
}
.wrapper {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 960px;
    width: 100%;
    /* margin-bottom: 50px; */
}
.pricing-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media (min-width: 900px) {
    .pricing-table {
        flex-direction: row;
    }
}
@media (min-width: 900px) {
    .pricing-plan {
        border-bottom: none;
        flex-basis: 30%;
        padding: 25px 50px;
    }
    .pricing-plan:first-child {
        border-right: none;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
    .features-plan {
        border-bottom: none;
        flex-basis: 100%;
        padding: 25px 30px;
    }
    .features-plan {
        border-right: none;
    }
    .features-plan {
        border-right: none;
    }
}
.pricing-header {
    font-size: 18px;
    padding-top: 2px;
}
.middleMan {
    background-color: #fff;
    border: 4px solid #f5a623;
    padding: 12px 20px 0px;
    padding-bottom: 20px;
}
.fas {
    font-size: 2em;
    color: grey;
}

.serHeading > h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #555;
}
.form-control {
    padding: inherit;
    height: inherit;
    font-size: inherit;
    /* width: inherit; */
}
.list ul {
    /* list-style-type: disc !important; */
    margin: 0 !important;
    color: red !important;
}

.list li {
    font-size: 10px;
    text-transform: uppercase;
    color: darkgrey;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.1rem;
}
.list ul li::before {
    content: "\2022";
    color: darkgrey;
    display: inline-block;
    width: 0.8em;
    margin-left: 0.1em;
}
