.insight {
    background: linear-gradient(150deg, #f7b733 30%, #f37335 100%);
    color: #000000;
    height: 500px;
}
.mt-2 {
    font-size: 12px;
}
.inContent {
    /* width: 100%; */
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    /* display: block; */
}
.icons {
    font-size: 30px;
    color: #fff;
}
.insheader h1 {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1.5px;
}
.icons > .fas {
    font-size: 30px;
    color: #fff;
}
