.heroMain {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%), url(../../assets/hero1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff !important;
    z-index: 1000;
    /* font-weight: 800; */
}

.mainTitle .topTitle {
    font-size: 30px;
}
.mainTitle .subTitle {
    /* font-size: 50px; */
    margin: 50px auto;
    text-align: center;
    font-size: 16px;
}
.twobtns > button {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    border-radius: 1.5rem;
    padding: 5px 35px;
    margin: 0 40px;
}
.dot {
    width: 36px;
    height: 60px;
    border: 3px solid #fff;
    text-align: center;
    border-radius: 1.5rem;
    margin: 60px auto 0 auto;
}
.dot i {
    font-size: 9px;
    color: #fff;
}
